aenum==2.2.6
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.2
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
boto3==1.21.13
botocore==1.24.13
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
csscompressor==0.9.5
cycler==0.11.0
daiquiri==3.0.1
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
et-xmlfile==1.1.0
fonttools==4.29.1
frozenlist==1.3.0
graph-notebook==3.2.0
gremlinpython==3.5.2
idna==3.3
ipykernel==5.3.4
ipysheet==0.5.0
ipython==7.16.3
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
jedi==0.17.2
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.2
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.9.2
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-nbutils==0.1.3
jupyter-require==0.6.1
jupyter-server==1.13.5
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lxml==4.8.0
MarkupSafe==2.0.1
matplotlib==3.5.1
mistune==0.8.4
multidict==6.0.2
nbconvert==5.6.1
nbformat==5.1.3
neo4j==4.3.2
nest-asyncio==1.5.4
networkx==2.4
notebook==6.4.8
numpy==1.22.2
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prometheus-client==0.13.1
prompt-toolkit==3.0.28
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-json-logger==2.0.2
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
rdflib==5.0.0
requests==2.27.1
requests-aws4auth==1.0.1
s3transfer==0.5.2
scipy==1.8.0
Send2Trash==1.8.0
sharepy==2.0.0
six==1.16.0
sniffio==1.2.0
SPARQLWrapper==1.8.4
terminado==0.13.2
testpath==0.6.0
tornado==6.1
traitlets==5.1.1
urllib3==1.26.8
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
widgetsnbextension==3.5.2
yarl==1.7.2
